:root {
  --main-purple-color: #5c48f1;
  --elements-background-color: #eeecfd;
  --element-border-color: #e0e0e1;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--elements-background-color);
}

.container {
  margin-left: 10%;
  margin-right: 10%;

}



.inter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.inter>div {
  background-color: white;
  border: 1px solid rgb(0, 0, 0, .2);
  border-radius: .5rem;
  position: relative;
  
  height: fit-content;
}

.inter>div label {
  text-align: center;
  height: 100%;
  display: block;
}

.inter>div label i {
  margin-top: 1.5rem;
  font-size: 4rem;
  color: var(--main-purple-color, #5c48f1);
  width: 100%;
  margin-bottom: 1.5rem;
}

.inter>div label p {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.inter>div input[type="radio"] {
  appearance: none;
  position: absolute;
}

.inter>div label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid rgb(0, 0, 0, .2);
  border-radius: .25rem;
  position: absolute;
  top: 10px;
  left: 10px
}
.inter> div input[type="radio"]:checked + label::before {
  border: 1px solid var(--main-purple-color, #5c48f1);
}


.inter>div input[type="radio"]:checked + label::after,
.inter>div input[type="radio"]:not(:checked) + label:hover::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--main-purple-color, #5c48f1);
  border-radius: .25rem;
  position: absolute;
  top: 12.5px;
  left: 12.5px
}
.inter>div input[type="radio"]:checked+label::after {
  
}

.inter>div input[type="radio"]:not(:checked) + label:hover::after { 
  background-color: rgb(0, 0, 0, .2);


}