

* {
  box-sizing: border-box;
  
  font-family: sans-serif;
  margin: 0;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.container {
  height: inherit;
  margin: 8rem 1% 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem 1rem;

}
.container .box {
  text-align: center;
  background-color: #1998ff;
  color: white;
  padding: 3.5rem 0 2rem;
  position: relative;
  border: 1px solid rgb(0, 0, 0, .2);
  flex-basis: 40%;
  
  min-width: 300px;
}
.container .box .price {
  margin: 0 auto;
  width: fit-content;
  padding: 1.5rem 1rem;
  border: 10px solid white;
  border-radius: 50%;
  background-color: #1998ff;
  outline: 1px #1998ff solid;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
}
.container .box:first-of-type .price::before {
  content: "hot";
  padding: .75rem .5rem;
  border-radius: 50%;
  position: absolute;
  right: -.75rem;
  top: -.75rem;
  color: #1998ff;
  outline: 1px #1998ff solid;
  font-weight: bold;
  background-color: white;
}
.container .box .price p:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.container .box h2 {
  margin: 1rem 2rem;
  text-transform: uppercase;
}
.container .box ul {
  list-style: none;
  padding: 0;
}
.container .box ul li {
  padding: 1rem;
  font-size: .8rem;
  font-weight: bold;
  border-top: 1px solid rgb(0, 0, 0, .1);
}
.container .box ul li:last-child {
  border-bottom: 1px solid rgb(0, 0, 0, .1);
}
.container .box button {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
  color: #1998ff;
  
  cursor: pointer;
}

.container .box:last-of-type {
  background-color: white;
  color: #545454;
}
.container .box:last-of-type .price {
  color: white;
  background-color: #545454;
  outline-color: rgb(0, 0, 0, .2);
}

.container .box:last-child button {
  color: white;
  background-color: #1998ff;
}



