* {
  box-sizing: border-box;
  margin: 0;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eee;
}

main {
  max-width: 300px;
  background-color: white;
  transition: .25s;
  margin: 0 .5rem;
  
  cursor: pointer;
}
main .image img {
  width: 100%;
  display: block;
}
main .image {
  position: relative;
 
}
main .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(97, 193, 153, .5);
  transition: .25s;
}
main:hover .image::before {
  width: 100%;
}
main .text {
  width: fit-content;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, .25);
  margin: 0 auto;
  width: 70%;
  text-align: center;
  
  position: relative;
  top: -2rem;
  transition: .25s;
}
main .text > p:first-child {
  font-size: 1.4rem;
  font-weight: bold;
}
main .text > p:last-child {
  color: red;
  margin-top: .5rem;
}
main:hover {
  transform: translateY(-10px);
}
main:hover .text {
  width: 100%;
}
