* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
  /* Variables */
  --bgColor: #eee;
  --blueColor: #3b74ba;
}


body {
  width: 100vw;
  height: 100vh;
  
  background-color: var(--bgColor, #eee);
  
  position: relative;
  
}

.container {
  padding: 40px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 450px;
  
  background-color: white;
  border-radius: 6px;
}

img {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
}

.container::after {
  content: "A+";
  font-weight: bold;
  color: white;
  background-color: var(--blueColor, #3b74ba);
  padding: 10px 8px;
  border-radius: 4px;
  line-height: .9;
  
  position: absolute;
  bottom: -18px;
  right: 18px;
}

.info {
  text-align: center;
  margin-bottom: 20px;
}
.container hr {
  border-color: var(--bgColor, #eee);
  border-style: solid;
}

.info h1 {
  font-size: 30px;
  color: var(--blueColor, #3b74ba );
}
.info p {
  margin-top: 5px;
  color: #9b9b9b;
}


.text {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

}

.text .account {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--bgColor);
  text-align: center;
}
.text .account:not(:first-child) {
  margin-top: 5px;
}