* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  --mainColor: #cf2e2e;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  counter-reset: noaman;
}

.container {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.container > .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container .image > .img {
  border: 15px solid rgb(207, 46, 46, .5);
  position: relative;
  width: 405.3px;
  height: 363px;
}

.container .image .img img {
  position: absolute;
  height: 250px;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
}

.container .text h1 {
  font-size: 40px;
}

.container .text > p:first-of-type {
  color: var(--mainColor);
  font-weight: bold;
  position: relative;
  padding-left: 60px;
}
.container .text > p:first-of-type::before {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  background-color: #cf2e2e;
  
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container .text > p:first-of-type::after {
  width: 10px;
  height: 10px;
  content: "";
  border: 1px solid var(--mainColor);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: white;
}

.container .text > p:last-of-type {
  line-height: 1.8;
  color: #9c9893;
}

.container .text .actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;


}
.container .text .actions .icon {
  border: 1px solid #9c9893;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
  
  height: 150px;
}

.container .text .actions .icon img {
  width: 60px;
}

.container .text .actions .icon::before {
  content: "";
  
  border: 10px solid #cf2e2e;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 2px;
  right: 2px;
}

.container .text .actions .icon p {
  font-weight: bold;
  position: relative;
}
.container .text .actions .icon p::after {
  counter-increment: noaman;
  content: "0" counter(noaman);
  position: absolute;
  font-size: 40px;
  color: #9c9893;
  opacity: .5;
  top: -40px;
  right: -20px;
  z-index: -1;
  
}