

* {
  box-sizing: border-box;
  margin: 0;
  font-family: arial;
}

main {
  padding: 20px 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  background-color: #eee;
  gap: 10px;
}

main div.member:first-child,
main div.member:nth-child(6) {
  grid-column: span 2;
}

main div.member:nth-child(5) {
  grid-column: span 2;
  
  color: white;
  background-color: black;
}

main div.member:nth-child(3) {
  grid-row: span 3;
  
  color: white;
  background-color: black;
}

main div.member:nth-child(4) {
  grid-row: span 2;
}

main div.member:nth-child(8) {
  color: white;
  background-color: black;
}

div.member {
  background-color: white;
  padding: 20px;
  
  display: grid;
  align-content: start;
  gap: 20px;
  
  border-bottom: 4px solid #fb6637;
  
  position: relative;
}

div.member h2 {
  font-size: 20px;
}
div.member .name p:first-of-type {
  font-size: 14px;
  font-weight: bold;
  color: #b1afb2;
}
div.member > p:first-of-type {
  font-weight: bold;
}

div.member p {
  line-height: 1.5;
}

div.member > p:last-of-type {
  font-size: 15px;
  line-height: 1.4;
}

div.member i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #b1afb2;
}




